<a href="/">Return to home</a>

<div class="row d-flex justify-content-center align-items-center">

</div>
<form action="/posts/{{data.id}}/update?_method=PUT" method="POST">
    <input type="hidden" id="id" name="id" value="{{ data.id }}">
    <div class="form-group">
        <label for="title">Post Title:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" value="{{ data.title }}">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description" value="{{ data.description }}">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
       <textarea class="form-control" id="content" name="content" placeholder="Write your Content">{{data.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>



<script>
    // Initialize CKEditor
    CKEDITOR.replace('content', {
        // Configuration options if needed
    });
</script>